[submodule "thirdparty/iceoryx2"]
	path = thirdparty/iceoryx2
	url = https://github.com/eclipse-iceoryx/iceoryx2.git
[submodule "thirdparty/mcap_builder"]
	path = thirdparty/mcap_builder
	url = https://github.com/lddnb/mcap_builder.git
